
// Progress bar
$nprogressColor = #0074D9

// colors of the searchbox you see now:
$accentColor = #0074D9
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.2rem
$sidebarWidth = 35rem
$contentWidth = 740px
$homePageWidth = 960px